.email-address-adder {

    @extend %ui-component-base-layout;

    label {
        display: block;
        text-align: center;

        &::after {
            content: ":";
        }
    }
}

.email-address-adder__email-input {

    display: block;
    width: 100%;
    max-width: 400px;
    margin: 1.5rem auto;
}

.email-address-adder__add-email-button {

    margin: 2rem auto 0;
}