.current-email-address-displayer {

    @extend %ui-component-base-layout;

    h2 {
        margin-top: 0;
    }

    h3 {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        text-align: center;

        &::after {
            content: ":";
        }
    }
}

.current-email-address-displayer__displayed-email-address {

    text-align: center;
}

.current-email-address-displayer__email-address-picker {

    label {

        display: block;
        text-align: center;
        font-weight: 600;

        &::after {
            content: ":";
        }
    }

    select {

        display: block;
        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

.current-email-address-displayer__add-current-image-button {

    // Center the button 
    margin: 2rem auto 0;
}

.current-email-address-displayer__assigned-images-displayer {

    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    li {
        // Use the <li> as the image container 
        display: block;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    img {
        width: 100%;
    }
}