// * Emplying a 'mobile-first' approach to layout & media queries * 

// Initial styles, expecting a minimum supported viewport width of 300px  

body {
    margin: 0;
}

h1 {
    margin: 2rem 1.5rem;
}

input,
select {
    padding: 0.75rem 1rem;
    margin: 1rem 0.5rem;
}

button {
    display: block;
    padding: 0.75rem 1rem;
    margin: 1rem 0;
}

.instructions {

    max-width: 13rem;

    // Viewport width: 500px and above
    @include at-breakpoint('narrow-to-medium', 100px) {
        max-width: 20rem;
    }

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    ol {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    li {
        position: relative;
        padding-left: 2.25em; // Provide space for the custom marker
    }
}

// Breakpoint: 900px and above 
@include at-breakpoint('medium-to-wide') {

    .layout__email-address-components-container {

        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
    }

    .email-address-adder,
    .current-email-address-displayer {
        // The components take up equal space next to each other, horizontally 
        width: 50%;
    }
}

@include at-breakpoint('wide-to-extra-wide') {

    .layout__overall-site-components-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;

        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }

    .layout__email-address-components-container {
        flex-direction: column;
        align-items: center;
    }

    .email-address-adder,
    .current-email-address-displayer {
        // Components can now retain a fixed width at this extra-wide viewport width
        width: 400px;
        margin: 0;
    }
}