%ui-component-base-layout {

    padding: 2rem;

    margin-top: 2rem;
    margin-bottom: 2rem;

    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    @include at-breakpoint('medium-to-wide') {
        margin-left: 0;
        margin-right: 0;
    }
}